.home-cont{
    min-width: 600px;
    margin: 20px 30%;
    position: absolute;
    padding: 40px;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
}

.home-cont h1{
    text-align: left;
}

.inputCont input, #eventUploadForm .inputCont textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 12px 24px;
    margin-bottom: 20px;
    width: 55%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
} 

.error{
    color: #cc0000;
    font-size: 18px;
    font-weight: 700;
}

.inputCont .error-input{
    border: 3px solid #cc0000;
}

#eventUploadForm .inputCont label{
    color: #403e3e;
}

.submit-event{
    border-color: #0324a9;
    border-style: solid;
    background: #0324a9;
    padding: 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
