<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset="utf-8">
		<title>Lets Start</title>
		<meta charset="utf-8" name="viewport" 
        content= "width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="../css/home.css">
	</head>
	<body>
		<div class="gameBackground">

			<div class="leftPanel">
				
				<div class="leaveGame">
					<a href="underConstruction.html"> 
						<img src="../images/exitGame.png" height="40px" width="40px" alt="end game">
					</a>
				</div>

				<div class="gameIcon">
					<img src="../images/logoTrans.png" height="200px" width="200px" alt= "game">
				</div>

				<div class="question-boxCont">
					<div class="question-box">
						<p class="questionText">
							Which state in the United States of America has the Lake called Lake Tahoe?
						</p>
					</div>
				</div>
				<div class="answerBox">
					<div>
						<div>
							<div class="leftTriangle">
							</div>
							<div class="answer answer1">
								Georgia
							</div>
							<div class="rightTriangle">
							</div>
						</div>
						<div>
							<div class="leftTriangle">
							</div>
							<div class="answer answer2">
								California
							</div>	
							<div class="rightTriangle">
							</div>													
						</div>
						<div>
							<div class="leftTriangle">
							</div>
							<div class="answer answer3">
								Ohio
							</div>	
							<div class="rightTriangle">
							</div>													
						</div>
						<div>
							<div class="leftTriangle">
							</div>
							<div class="answer answer4">
								North Carolina
							</div>	
							<div class="rightTriangle">
							</div>													
						</div>
					</div>
				</div>
			</div>
			<div class="rightPanel">
				<ul class="lifelines">
					<li class="lifeline-icon">
						<a href="underConstruction.html" target="_blank">
						<img src="../images/Classic5050.png" height="50" width="50" alt="facebook">
						</a>
					</li>
					<li class="lifeline-icon">
						<a href="underConstruction.html" target="_blank">
						<img src="../images/phoneAFrndIcon.png" height="50" width="50" alt="facebook">
						</a>
					</li>
					<li class="lifeline-icon">
						<a href="underConstruction.html" target="_blank">
						<img src="../images/AudiencePoll.png" height="50" width="50" alt="facebook">
						</a>
					</li>
				</ul>
					<ol class ="amountPointer" reversed>
						<li>1 MILLION</li>
						<li>500,000</li>
						<li>250,000</li>
						<li>100,000</li>
						<li>50,000</li>
						<li>25,000</li>
						<li>16,000</li>
						<li>8,000</li>
						<li>4,000</li>
						<li>2,000</li>
						<li class="active">1,000</li>
						<li>500</li>
						<li>300</li>
						<li>200</li>
						<li>100</li>
					</ol>
				
			</div>
		</div>
	</body>
	</html>